@model List<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                         <img src="@product.ImgUrl" class="card-img-top rounded" style="width:100%;height:300px"/>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center"
                                   style="white-space: nowrap">
                                    @product.Title
                                </p>
                                <p class="card-title text-warning text-center">
                                    @product.Author
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Price : <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Sale :
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div>
                                @* Use asp-route-name => name must be same with action in controller *@
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                    Detail
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>